[submodule "intro-js"]
	path = intro-js
	url = https://github.com/IbraheemLanre/intro-js.git
[submodule "web-analytics"]
	path = web-analytics
	url = https://github.com/IbraheemLanre/web-analytics.git
