* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #236747;
  font-family: "Raleway", sans-serif;
}

/*main area style*/

main .container {
  background: #fff;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h1,
p {
  margin-bottom: 20px;
}

main .container .existing-user {
  text-align: center;
  font-size: 12px;
}

input,
textarea,
button {
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

main .container .input-text label {
  display: block;
  font-size: 10px;
  text-align: left;
  margin-bottom: 5px;
}

main .container .input-text input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  font-size: 13px;
}

main .container form button {
  width: 80%;
  background-color: coral;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

main .container form button:hover {
  cursor: pointer;
  background-color: #236747;
}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #236747;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: -30px 0 50px 0;
  color: white;
}
