body {
  background-color: goldenrod;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background-color: hotpink;
}

header ul li a {
  color: whitesmoke;
  text-decoration: none;
  background-color: cornflowerblue;
}

header ul li {
  list-style: none;
  display: inline-block;
}

img {
  width: 300px;
}
